.card {
  border-radius:0;
  &.card-vaga {
    -webkit-box-shadow: 7px 6px 0px 6px rgba(23,49,86,1);
    -moz-box-shadow: 7px 6px 0px 6px rgba(23,49,86,1);
    box-shadow: 7px 6px 0px 6px rgba(23,49,86,1) !important;
    border-radius: 0;
    h4 { text-transform: uppercase; }

    &.card-background-secondary {
      -webkit-box-shadow: 7px 6px 0px 6px $secondary !important;
      -moz-box-shadow: 7px 6px 0px 6px $secondary !important;
      box-shadow: 7px 6px 0px 6px $secondary !important;
    }

    &.card-background-danger {
      -webkit-box-shadow: 7px 6px 0px 6px $danger !important;
      -moz-box-shadow: 7px 6px 0px 6px $danger !important;
      box-shadow: 7px 6px 0px 6px $danger !important;
    }
    
    a {
      text-align: right;
      font-size: 3rem;
      display: block;
      width: min-content;
      margin: 0 0 0 auto;
    }
  }

  &.card-background-image {
    background-image: url('../src/img/footer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
